.book1{
    margin-left: -75%;
    font-size: 200%;
    font-family: 'Arial Narrow';
}

.bookname1{
    margin-left: 55%;
    margin-top: -10%;
}

.readonline{
    color: blue;
}

.downloadonline{
    margin-top: 1%;
    color: blue;
}