.book1{
    margin-left: -75%;
    font-size: 200%;
    font-family: 'Arial Narrow';
}

.bookname1{
    margin-left: 55%;
    margin-top: -10%;
}


.bookname2{
    margin-left: 55%;
    margin-top: -10%;
}

.bookname3{
    margin-left: 55%;
    margin-top: -10%;
}

.bookname4{
    margin-left: 55%;
    margin-top: -10%;
}

.bookname5{
    margin-left: 55%;
    margin-top: -10%;
}

.bookname6{
    margin-left: 55%;
    margin-top: -10%;
}